.portCard {
    width: 18rem;
}

.emailButton:link,
.emailButton:visited {
    color: white;
}

.emailLink:link,
.emialLink:visited {
    color: black;
}

.profCard {
    width: 14rem;
    box-shadow: 0 0 25px 5px gray;
    border-radius: 25px;
}

.profImg {
    border-radius: 25px 25px 0 0;
}

.card-title {
    padding: 10px;
}

.pexelImage,
.portCard {
    border-radius: 30px;
}

.topCard {
    opacity: 0.5;
    box-shadow: 0 0 50px 5px gray;
    border-radius: 30px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.topCard:hover {
    opacity: 1.0;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    box-shadow: 0 0 50px 20px black;
    border-radius: 30px;
}